body {
    padding: 0;
    margin: 0;
    background-color:  #FAEED1;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #607274;
    height: 100px;
    align-items: center;
}

.nav-text {
    font-size: 20px;
    height: 50px;
    width: 100px;
    text-align: center;
    padding-top: 10px;
    
}

.nav-text:hover {
    font-size: 22px;
}
.nav-anchor{
    text-decoration: none;
    color: black;
}
.logo {
    border-radius: 50%;
    height: 80px;
}
.a-conatainer{
    display:flex;
}
img{
    margin-left: 200px; 
    border-radius: 30px 40px 30px 40px;
}