body {
    padding: 0;
    margin: 0;
    background-color:  #FAEED1;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #607274;
    height: 80px;
    align-items: center;
}

.nav-text {
    font-size: 20px;
    height: 50px;
    width: 100px;
    text-align: center;
    padding-top: 10px;
    
}

.nav-text:hover {
    font-size: 22px;
}
.nav-anchor{
    text-decoration: none;
    color: black;
}
.logo {
    border-radius: 50%;
    height: 60px;
}
.a-conatainer{
    display:flex;
}
.abimg{
    margin-left: 200px;
    border-radius: 30px 25% 60px 25%;
}
h1{
    text-align: center;
    font-family:cursive;
}
.info{
    padding-left: 700px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contact-platform{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    text-align: center;
}
.receiver{
    width: 200px;
    font-size: 20px;
}
.gmail{
    width: 200px;
    font-size: 20px;
}
.google-maps{
    width: 200px;
    font-size: 20px;
}
.font-contact-platform{
    font-size: 20px;
}
.contact-form{
    width: 500px;
    height: 400px;
    margin-left:60vh ;
    margin-top: 10px;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
}
