body {
    padding: 0;
    margin: 0;
    background-color:  #FAEED1;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #607274;
    height: 80px;
    align-items: center;
}

.nav-text {
    font-size: 20px;
    height: 50px;
    width: 100px;
    text-align: center;
    padding-top: 10px;
    
}

.nav-text:hover {
    font-size: 22px;
}
.nav-anchor{
    text-decoration: none;
    color: black;
}
.logo {
    border-radius: 50%;
    height: 60px;
}
.a-conatainer{
    display:flex;
}
.abimg{
    height:600px;
    width:1300px;
    margin-left: 100px;
    border-radius: 30px 25% 60px 25%;
}
.card {
    height: 270px;
    width: 430px;
    background-color: #FAEED1;
    position: relative;
    border-radius: 10px;
    margin: 20px 20px;
    display: inline-block;
    padding-left: 20px;
}
.card:hover .img {
    height: 263px;
}
.img {
    height: 260px;
    width: 420;
    padding: 5px;
    border-radius: 30px;
}

h1{
    padding-left:500px ;
    font-family:cursive;
}
.info{
    padding-left: 500px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contact-platform{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    text-align: center;
}
.receiver{
    width: 200px;
    font-size: 20px;
}
.gmail{
    width: 200px;
    font-size: 20px;
}
.google-maps{
    width: 200px;
    font-size: 20px;
}
.font-contact-platform{
    font-size: 20px;
}
.contact-form{
    width: 500px;
    height: 400px;
    margin-left:60vh ;
    margin-top: 10px;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
}
/*normal devises*/
@media screen and (min-width: 769px) and (max-width: 992px) {
    .abimg {
    height: 400px;
    width: 700px;
    margin-left: 30px;
    }
    .card {
        height: 300px;
        width: 500px;
        display: block;
        padding-left: 200px;
    }
    h1{
        text-align: left;
    }
    .info {
        padding-left: 10px;
    }
}
/*normal devises*/
@media screen and (min-width: 601px) and (max-width: 768px) {
    .abimg {
    height: 320px;
    width: 500px;
    margin-left: 30px;
    }
    h1{
        text-align: center;
    }
    .info {
        padding-left: 10px;
    }
}
/*small devises*/
@media screen and (min-width: 200px) and (max-width: 600px) {
    .abimg {
    height: 300px;
    width: 400px;
    margin-left: 30px;
    }
    h1{
        padding-left: 150px;
        text-align: left;
    }
    .info {
        padding-left: 10px;
    }
}