body {
    padding: 0;
    margin: 0;
    background-color: #FAEED1;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #607274;
    height: 80px;
    align-items: center;
}

.nav-text {
    font-size: 20px;
    height: 50px;
    width: 100px;
    text-align: center;
    padding-top: 10px;  
}

.nav-text:hover {
    font-size: 22px;
}
.nav-anchor{
    text-decoration: none;
    color: black;
}

.logo {
    border-radius: 50%;
    height: 60px;
}

.a-conatainer{
    display:flex;
}
.card {
    height: 200px;
    width: 450px;
    background-color: #DED0B6;
    margin-top: 10px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
    display: inline-block;
}
.card:hover .img{
   height:  72px ;
}

.img {
    height: 80px;
    padding: 10px;
    border-radius: 19px;
}

.card-head {
    display: flex;
}

.big-description {
    display: block;
    font-size: 20px;
    padding-left: 3px;
}

.small-description {
    font-size: 14px;
    padding: 2px;
    text-align: justify;
}
.btn{
    margin-left: 340px;
    border-radius: 30px;
   background-color: #009900;
   height: 40px;
   width: 100px;
}
.btn:active{
    height: 29px;
   width: 89px;
    background-color: #006600;
}
.footer {
    display: flex;
    flex-direction: column;
    background-color: #607274;
    color: white;
    text-align: center;
    padding: 10px 0;
}
/* TABLET DEVICES*/
@media  screen and (min-width:769px) and (max-width: 992px) {
    .card{
    height: 240px;
    width: 300px;
    margin-left: 40px;
    display: inline-block;
    }
    .btn{
        margin-left: 180px;   
        height: 30px;
        width: 90px;    
    }
}
 /* NORMAL DEVICES  */
@media  screen and (min-width:601px) and (max-width: 768px) {
    .card{
        height: 200px;
        width: 400px;
        margin-left: 40px;
        display: inline-block;
        padding: 20px;
        padding-left:20px ;
     }
    .btn{
        margin-left: 150px;   
        height: 40px;
        width: 80px; 
    }
}
/*small devices */
@media  screen and (min-width:300px) and (max-width: 600px) {
    .card{
        height: 215px;
        width: 300px;
        margin-left: 40px;
        display: inline-block;
        padding: 20px;
        padding-left:20px ;
     }
    .btn{
        margin-left: 105px;   
        height: 50px;
        width: 60px; 
    }
}