body {
    padding: 0;
    margin: 0;
    background-color: #DED0B6;
    
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #607274;
    height: 100px;
    align-items: center;
    
}
.nav-text {

    font-size: 20px;
   text-decoration: none;
    height: 50px;
    width: 100px;
    text-align: center;
    padding-top: 10px;
    }
 .nav-anchor{
text-decoration: none;
color: black;
   }
 .logo {
border-radius: 50%;
height: 80px;
}
.card {
  height: 230px;
  width: 450px;
  background-color: #DED0B6;
  margin-top: 30px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;
  
}
  .btn{
    margin-left: 340px;
    border-radius: 30px;
   background-color: #009900;
   height: 30px;
   width: 90px;

}
.btn:active{

    background-color: #006600;

}


  .container {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
    align-items: center;
    background-color: #FAEED1;
    padding-bottom:30px ;

  }
  
  .card:hover .img{
    height:  130px ;
 }
 
.img {
  height: 120px;
  padding: 10px;

  border-radius: 19px;
}

.T{position: static ;
font-size: 50px;
color: #4f3222;
display: inline-block;
text-align: center;
}

.head{
display:flex;
margin-top: -100px;
font-size: 20px;
padding-left:250px;

}

.Discription{
font-size: 12px;
text-align: center;
display: flex;
margin-left:190px ;
padding: 30px;
margin-top:-50px;
}

/* Mobile Devices */

@media screen and (min-width: 600px) and (max-width: 768px) {
  

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #607274;
    height: 100px;
    align-items: center;
    
}
.nav-text {

    font-size: 10px;
   text-decoration: none;
    height: 30px;
    width: 50px;
    text-align: center;
    padding-top: 10px;
    }
 .nav-anchor{
text-decoration: none;
color: black;
   }
 .logo {
border-radius: 25%;
height: 50px;
}
.card {
  height: 150px;
  width: 200px;
  background-color: #DED0B6;
  margin-top: 10px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;
  margin-bottom: 50px;
  
}
  .btn{
    margin-left: 340px;
    border-radius: 30px;
   background-color: #009900;
   height: 30px;
   width: 90px;
   margin-bottom: 5px;

}
.btn:active{

    background-color: #006600;

}


  .container {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
    align-items: center;
    background-color: #FAEED1;
    padding-bottom:50px ;

  }
 
 
.img {
  height: 50px;
  padding: 10px;

  border-radius: 15px;
}

.T{
font-size: 50px;
color: #4f3222;
display: inline-block;
text-align: start;

}

.head{
display:flex;
margin-top: -100px;
font-size: 10px;
padding-left:250px;

}

.Discription{
font-size: 5px;
text-align: center;
display: flex;
margin-left:190px ;
padding: 30px;
margin-top:-50px;
}
}   
/*Normal Devices */  

@media screen and (min-width: 601px) and (max-width: 768px) {
  
  .navbar {
    display: flex;
    justify-content: space-around;
    background-color: #607274;
    height: 100px;
    align-items: start;
    
}
.nav-text {

    font-size: 25px;
   text-decoration: none;
    height: 30px;
    width: 50px;
    text-align: center;
    padding-top: 10px;
    }
 .nav-anchor{
text-decoration: none;
color: black;
   }
 .logo {
border-radius: 50%;
height: 90px;
}

.card {
  height: 230px;
  width: 450px;
  background-color: #DED0B6;
  margin-top: 100px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}
  .btn{
    margin-left: 340px;
    border-radius: 30px;
   background-color: #009900;
   height: 30px;
   width: 90px;

}
.btn:active{

    background-color: #006600;

}


  .container {
     display: flex;
     flex-wrap: wrap;
     
    
    background-color: #FAEED1;
    padding-bottom:50px ;

  }
 
 
.img {
  height: 100px;
  padding: 10px;
  width: 100px;
  border-radius: 15px;
}

.T{position: static ;
font-size: 50px;
color: #4f3222;
display: inline-block;
text-align: start;

}

.head{
display:flex;
margin-top: -100px;
font-size: 20px;
padding-left:150px;

}

.Discription{
font-size: 15px;
text-align: start;
display: flex;
margin-left:90px ;
padding: 30px;
margin-top:-50px;
}
}     
    

/* Tablet Devices */

@media screen and (min-width: 769px) and (max-width: 992px) {
  
  .navbar {
    display: flex;
    justify-content: space-around;
    background-color: #607274;
    height: 100px;
    align-items: start;
    
}
.nav-text {

    font-size: 20px;
   text-decoration: none;
    height: 30px;
    width: 50px;
    text-align: center;
    padding-top: 10px;
    }
 .nav-anchor{
text-decoration: none;
color: black;
   }
 .logo {
border-radius: 50%;
height: 90px;
}

.card {
  height: 230px;
  width: 450px;
  background-color: #DED0B6;
  margin-top: 100px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;
  
}
  .btn{
    margin-left: 340px;
    border-radius: 30px;
   background-color: #009900;
   height: 30px;
   width: 90px;
padding-top: 5px;
}
.btn:active{

    background-color: #006600;

}


  .container {
     display: flex;
     flex-wrap: wrap;
     
    
    background-color: #FAEED1;
    padding-bottom:30px ;

  }
 
 
.img {
  height: 100px;
  padding: 10px;
  width: 100px;
  border-radius: 15px;
}

.T{position: static ;
font-size: 50px;
color: #4f3222;
display: inline-block;
text-align: start;

}

.head{
display:flex;
margin-top: -100px;
font-size: 20px;
padding-left:150px;

}

.Discription{
font-size: 15px;
text-align: start;
display: flex;
margin-left:90px ;
padding: 30px;
margin-top:-50px;
}
}     
    

  


/* Dekstop device */

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .btn {
    background-color: chartreuse;
    display: flex;
    flex-wrap: wrap;
  }
  .T{position: static ;
    font-size: 25px;
    color: #4f3222;
    display: inline-block;
    text-align: center;
    padding-left: 500PX;
    }
}        
    
/* Dekstop device */

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .btn {
    background-color: chartreuse;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
  }
  .T{position: static ;
    font-size: 25px;
    color: #4f3222;
    display: inline-block;
    text-align: center;
    padding-left: 500PX;
    }
}        
    



    

