body {
    padding: 0;
    margin: 0;
    background-color: #DED0B6;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #607274;
    height: 80px;
    align-items: center;
}

.nav-text {
    font-size: 20px;
    height: 50px;
    width: 100px;
    text-align: center;
    padding-top: 10px;
}

.nav-text:hover {
    font-size: 22px;
}

.nav-anchor {
    text-decoration: none;
    color: black;
}

.logo {
    border-radius: 50%;
    height: 60px;
}

.container {
    height: 280px;
    background-color: #FAEED1;
    padding: 10px;
}



.container-text {
    font-size: 20px;
}

.card-set {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.card {
    height: 180px;
    width: 450px;
    background-color: #DED0B6;
    
    padding: 10px;
    border-radius: 5px;
    margin: 20px 20px;
}

.card:hover .img {
    height: 72px;
}

.img {
    height: 70px;
    padding: 10px;
    border-radius: 19px;
}

.card-head {
    display: flex;
}

.big-description {
    display: block;
    font-size: 20px;
    padding-left: 3px;
}

.small-description {
    font-size: 14px;
    padding: 2px;
    text-align: justify;
}

.btn {
    margin-left: 340px;
    border-radius: 30px;
    background-color: #009900;
    height: 30px;
    width: 90px;
}

.btn:active {
    height: 29px;
    width: 89px;
    background-color: #006600;
}

.categories {
    display: flex;
    justify-content: space-around;
}

.categoty-img {
    border-radius: 50%;
    height: 120px;
}

.categoty-img:hover {
    border: 2px solid green;
    height: 121px;
}

.page-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
}

.page-name {
    font-size: larger;
    margin-top: 10px;
    color: black;
}


@media screen and (max-width: 600px) {
    .nav-text {
        font-size: 15px;
        height: 20px;
        width: 60px;
    }

    .nav-text:hover {
        font-size: 17px;
    }

    .container {
        height: fit-content;
        background-color: #FAEED1;
        padding: 7px;
    }

    .card {
        height: 130px;
        width: 350px;
        margin-top: 7px;
        padding: 3px;
    }

    .card:hover .img {
        height: 62px;
    }

    .img {
        height: 60px;
        padding: 10px;
        border-radius: 19px;
    }

    .big-description {
        font-size: 15px;
        padding-left: 3px;
    }

    .small-description {
        font-size: 10px;
        padding: 2px;
    }

    .btn {
        margin-left: 200px;
        border-radius: 30px;
        height: 20px;
        width: 70px;
        position: relative;
        bottom: 10px;
    }

    .btn:active {
        height: 19px;
        width: 69px;
    }

    .categoty-img {
        height: 60px;
    }

    .categoty-img:hover {
        height: 61px;
    }

    .page-name {
        font-size: 10px;
    }
}


@media screen and (min-width: 600px) and (max-width: 845px) {
    .categoty-img {
        height: 80px;
    }

    .categoty-img:hover {
        height: 81px;
    }

    .page-name {
        font-size: 12px;
    }
}


@media screen and (min-width: 846px) and (max-width: 992px) {}

@media screen and (min-width: 993px) and (max-width: 1200px) {}

@media screen and (min-width: 1201px) {}