body {
    padding: 0;
    margin: 0;
    background-color: #DED0B6;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #607274;
    height: 80px;
    align-items: center;
}

.nav-text {
    font-size: 20px;
    height: 50px;
    width: 100px;
    text-align: center;
    padding-top: 10px;
}

.nav-text:hover {
    font-size: 22px;
}

.nav-anchor {
    text-decoration: none;
    color: black;
}

.logo {
    border-radius: 50%;
    height: 60px;
}

.navbar2 {
    display: flex;
    padding: 0px 40px;
    height: 100px;
    margin-top: 0;
    font-size: larger;
    align-items: center;
    background-color: #FAEED1;
}

.navbar2 > a {
    text-decoration: none;
    color: black;
    font-size: larger;
}

.parent-container-text {
    font-size: larger;
    padding-left: 20px;  

    font-family: "Dancing Script", cursive;
}

.container {
    height: 800px;
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
    overflow-y: hidden;
}

.card {
    width: 471px;
    height: 300px;
    border-radius: 7px;
    background-color: #FAEED1;
    position: relative;
    margin: 10px 10px;
}

.card > img {
    height: 150px;
    border-bottom: 0.3px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.text-big {
    font-size: x-large;

    padding-left: auto;
    text-align: start  ;
    padding-left: 10px;
}

.text-small {
    font-size: 12px;
    text-align: start;
 width: 471px;
       display: inline-block;
      padding-left: 10px;
}
.price{
    position: absolute;
    left: 300px;
    bottom: 220px;
}

.btn {
    border-radius: 30px;
    background-color: #009900;
    height: 30px;
    width: 90px;
    position: absolute;
    top: 250px;
    left: 350px;
}

.btn:active {
    background-color: #006600;
    height: 29px;
    width: 89px;
}

.price {

position: absolute;

left: 20px;
bottom: 20px;
  
}
