.head{
    font-size: 30px;
    padding-left: 450px;
}
.img{
    height: 70px;
    width: 70px;
}
.input{
    padding-left: 400px;
    font-size: 30px;
}
.btn{
    background-color: #006600;
    height: 30px;
    width: 150px;
    margin-left: 1150px;
    border-radius: 20px;
    color:white;
}
.btn:active {
    background-color: #006600;

}

@media screen and (min-width:150px) and (max-width:580px){
    .head{
        font-size: 25px;
        padding-left: 20px;
    }
    .img{
        height: 20px;
        width: 30px;
    }
    .input{
        padding-left: 20px;
        font-size: 10px;
    }
    .btn{
        margin-top: 30px;
        margin-left: 300px;
    }
}

@media screen and (min-width:601px) and (max-width:880px) {
    .head{
        font-size: 30px;
        padding-left: 20px;
    }
    .img{
        height: 30px;
        width: 40px;
    }
    .input{
        padding-left: 100px;
        font-size: 10px;
        font-size: 25px;
    }
    .btn{
        margin-top: 30px;
        margin-left: 500px;
    }
}
@media screen and (min-width:900px) and (max-width:1150px){
    .head{
        font-size: 30px;
        padding-left: 20px;
    }
    .img{
        height: 30px;
        width: 40px;
    }
    .input{
        padding-left: 100px;
        font-size: 10px;
        font-size: 25px;
    }
    .btn{
        margin-top: 30px;
        margin-left: 500px;
    }
}
