body {
    padding: 0;
    margin: 0;
    background-color: #FAEED1;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #607274;
    height: 100px;
    align-items: center;
}

.nav-text {
    font-size: 20px;
    height: 50px;
    width: 100px;
    text-align: center;
    padding-top: 10px;
    
}

.nav-text:hover {
    font-size: 22px;
}
.nav-anchor{
    text-decoration: none;
    color: black;
}

.logo {c
    border-radius: 50%;
    height: 80px;
}

.a-conatainer{
    display:flex;
}
.card {
    height: 230px;
    width: 450px;
    background-color: #DED0B6;
    margin-top: 10px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 10px;
    display: inline-block;
}
.card:hover .img{
   height:  72px ;
}

.img {
    height: 80px;
    padding: 10px;
    border-radius: 19px;
}

.card-head {
    display: flex;
}

.big-description {
    display: block;

    font-size: 20px;
    padding-left: 3px;
}

.small-description {
    font-size: 14px;
    padding: 2px;
    text-align: justify;

}
.btn{
    margin-left: 340px;
    border-radius: 30px;
   background-color: #009900;
   height: 30px;
   width: 90px;

}
.btn:active{
    height: 29px;
   width: 89px;
    background-color: #006600;

}
.footer {
    display: flex;
    flex-direction: column;
    background-color: #607274;
    color: white;
    text-align: center;
    padding: 10px 0;
}
@media screen and (max-width:600px) {
    .card {
        height: 200px;
        width: 350px;
       
        
    
    }
    .card:hover .img{
       height:  69px ;
    }
    
    
    
    .img {
        height: 70px;
        padding: 10px;
        border-radius: 19px;
    }

    .small-description {
        font-size: 12px;
        padding: 2px;
        text-align: justify;
    
    }
    .btn{
        margin-left: 170px;
        border-radius: 20px;
       background-color: #009900;
       height: 20px;
       width: 60px;
       font-size: 10px;
       margin-bottom:100px;
    
    }
    

}

@media screen and (min-width:601px) and (max-width:768px){

    .card {
        height: 230px;
        width: 380px;
        background-color: #DED0B6;
        margin-top: 10px;
        padding: 10px;
        border-radius: 15px;
        margin-bottom: 25px;
        border:0px solid #DED0B6;
        
    
    }
    .card:hover .img{
       height:  70px ;
    }
    
    
    
    .img {
        height: 75px;
        padding: 10px;
        border-radius: 19px;
    }

    .small-description {
        font-size: 14px;
        padding: 2px;
        text-align: justify;
    
    }
    .btn{
        margin-left: 300px;
        border-radius: 30px;
       background-color: #009900;
       height: 20px;
       width: 70px;
       
    
    }
    

}

@media screen and (min-width:769px) and (max-width:992px){

    
    .card {
        height: 230px;
        width: 380px;
        background-color: #DED0B6;
        margin-top: 10px;
        padding: 10px;
        border-radius: 15px;
        margin-bottom: 25px;
        border:0px solid #DED0B6;
        
    
    }
    .card:hover .img{
       height:  72px ;
    }
    
    
    
    .img {
        height: 80px;
        padding: 10px;
        border-radius: 19px;
    }

    .small-description {
        font-size: 12px;
        padding: 2px;
        text-align: justify;
    
    }
    .btn{
        margin-left: 290px;
        border-radius: 20px;
       background-color: #009900;
       height: 25px;
       width: 70px;
       
       
    
    }

    
    

}

@media screen and (min-width:993px) and (max-width:1200px){

    .card {
        height: 240px;
        width: 450px;
        background-color: #DED0B6;
        margin-top: 10px;
        padding: 10px;
        border-radius: 15px;
        margin-bottom: 25px;
        border:0px solid #DED0B6;
        
    
    }
    .card:hover .img{
       height:  72px ;
    }
    
    
    
    .img {
        height: 80px;
        padding: 10px;
        border-radius: 19px;
    }

    .small-description {
        font-size: 14px;
        padding: 2px;
        text-align: justify;
    
    }
    .btn{
        margin-left: 340px;
        border-radius: 30px;
       background-color: #009900;
       height: 30px;
       width: 90px;
       
    }
    

}

@media screen and (min-width:1201px) and (max-width:1800px){
    
    .card {
        height: 240px;
        width: 450px;
        background-color: #DED0B6;
        margin-top: 10px;
        padding: 10px;
        border-radius: 15px;
        margin-bottom: 25px;
        border:0px solid #DED0B6;
        
    
    }
    .card:hover .img{
       height:  72px ;
    }
    
    
    
    .img {
        height: 80px;
        padding: 10px;
        border-radius: 19px;
    }

    .small-description {
        font-size: 14px;
        padding: 2px;
        text-align: justify;
    
    }
    .btn{
        margin-left: 340px;
        border-radius: 30px;
       background-color: #009900;
       height: 30px;
       width: 90px;
    
    }
    

}