body {
    padding: 0;
    margin: 0;
    background-color: #FAEED1;
}

.abcontainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #607274;
    height: 100px;
    align-items: center;
}



.nav-text {

    font-size: 20px;

    height: 50px;
    width: 100px;
    text-align: center;
    padding-top: 10px;

}


.nav-text:hover {
    font-size: 22px;
}

.nav-anchor {
    text-decoration: none;
    color: black;
}

.logo {
    border-radius: 50%;
    height: 80px;
}

.card {
    height: 200px;
    width: 450px;
    background-color: #FAEED1;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 20px;
    box-shadow: 3px 3px 5px #607274;
    display: inline-block;
}
.info{
    font-size: medium;
}

.img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.main {
    margin-top: -80px;
    margin-left: 120px;
    margin-bottom: 200px;
}

.name {
    font-size: 30px;


}

.btn {
    margin-left: 150px;
    border-radius: 30px;
    background-color: #009900;
    height: 30px;
    width: 90px;

}

.btn:active {
    height: 29px;
    width: 89px;
    background-color: #006600;

}
.footer {
    display: flex;
    flex-direction: column;
    background-color: #607274;
    color: white;
    text-align: center;
    padding: 10px 0;
}


@media screen and (min-width:150px) and (max-width:600px) {
    .card {
        height: 180px;
        width: 350px;
        display: flex;
        flex-wrap: wrap;
    }
    .img {
        height: 70px;
        width: 70px;
    }
    
    .main {
        margin-top: -60px;
        margin-left: 120px;
        margin-bottom: 200px;
    }
    
    .name {
        font-size: 15px;
    
    
    }
    
    .info{
        font-size: smaller;
    }
    .btn {
        margin-left: 50px;
        height: 30px;
        width: 80px;
    
    }
    
    
    
    
    
    
}
@media screen and (min-width:601px) and (max-width:800px) {
    .card {
        height: 250px;
        width: 550px;
        display: inline-block;
        margin-left: 50px;
    }
    .info{
        font-size: larger;
    }
    
    .img {
        height: 120px;
        width: 120px;
        border-radius: 50%;
    }
    
    .main {
        margin-top: -80px;
        margin-left: 120px;
        margin-bottom: 200px;
    }
    
    .name {
        font-size: 35px;
    
    
    }
    
    .btn {
        margin-left: 150px;
        height: 30px;
        width: 120px;
    
    }
   
    

    
}
@media screen and (min-width:801px) and (max-width:1042px) {
    .card {
        height: 200px;
        width: 380px;
        display: inline-block;
        margin-right: 50px;
    }
    .img {
        height: 90px;
        width: 90px;
        border-radius: 50%;
    }
    
    .name {
        font-size: 18px;
    
    
    }
    .info{
        font-size: 13px;
    }
    .main {
        margin-top: -70px;
    }
    
    
    .btn {
        margin-left: 100px;
        height: 30px;
        width: 80px;
    
    }

}
@media screen and (min-width:1044px) and (max-width:1200px){
    .card {
        height: 250px;
        width: 450px;
        display: inline-block;
        margin-left: 70px;
    }
    .info{
        font-size: larger;
    }
    .img {
        height: 120px;
        width: 120px;
        border-radius: 50%;
    }
    
    .main {
        margin-top: -100px;
        margin-left: 120px;
        margin-bottom: 250px;
    }
    
    .name {
        font-size: 35px;
    
    
    }
    
    .btn {
        margin-left: 150px;
        border-radius: 30px;
        background-color: #009900;
        height: 30px;
        width: 120px;
    
    }
   
    



}



