body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#FAEED1;
}

header {
    background-color: #607274;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
